
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Cadastrar</h2>
<br />
<br />
<style>
    #cadastrosU{
        position:center;
        width: 300px;
        height: 100px;
    }
</style>
<div  class="form-actions no-color">
     <a id="cadastrosU" class="btn btn-success" href="http://localhost:51497/clientes/create"> Clientes</a>
     <a id="cadastrosU" class="btn btn-default" href="http://localhost:51497/funcionarios/create"> Funcionário</a>
</div>

