@{
    ViewBag.Title = "About";
}
<h2>Ponto Fácil</h2>
<h3>Sobre a empresa</h3>

<p>
    Depois de 6 anos de trabalho informal, sentimos a necessidade de montar uma loja física
    de peças e acessórios de ar condicionados oferecendo praticidade e economia para os
    profissionais da área.
    A ideia surgiu através da falta de competitividade em Blumenau, onde contava somente
    com duas empresas que ofereciam estes materiais, em 09/02/2018 surgia a empresa Ponto
    Facil Refrigerações, oferencendo materiais e serviços de ar condicionados, assim como elétrica
    e hidráulica.
    Situada na Rua General Osório 3817, conta com uma loja completa e com profissionais
    qualificados, atendendo toda região do vale do Itajaí, e com novos projetos de crescimento em
    estudo.
</p>
